<footer>
  <hr>

  {% if page.previous or page.next -%}
  <nav>
    {% if page.previous_in_category -%}
    <a href="{{ page.previous_in_category.url }}" title="{{ page.previous_in_category.title }}">
      &larr; Previous
    </a>
    {% else -%}
    <a href="#" class="disabled">&larr; Previous</a>
    {% endif -%}

    {% if page.next_in_category -%}
    <a href="{{ page.next_in_category.url }}" title="{{ page.next_in_category.title }}">
      Next &rarr;
    </a>
    {% else -%}
    <a href="#" class="disabled">Next &rarr;</a>
    {% endif -%}
  </nav>
  {% endif -%}

  <small class="text-muted">
    {% if page.date -%}
    <span>Last updated on: {{ page.last_modified_at | date: "%B %-d, %Y" }}</span>
    {% else -%}
    <span>Last build on: {{ site.time | date: "%B %-d, %Y" }}</span>
    {% endif -%}
  </small>
</footer>
