{% if page.title -%}
  {%- capture page_title -%}
    {{ page.title | escape }}
  {%- endcapture -%}
{%- else -%}
  {%- capture page_title -%}
    {{ site.title | escape }}
  {%- endcapture -%}
{%- endif -%}

{% if page.description -%}
  {%- capture page_description -%}
    {{- page.description | strip_html | strip_newlines | truncate: 160 -}}
  {%- endcapture -%}
{%- else -%}
  {%- assign page_description = site.description -%}
{%- endif -%}

{% if page.tags -%}
  {%- capture page_keywords -%}
    {% for key in site.keywords %}{{ key }}, {% endfor %}{% for tag in page.tags %}{{ tag }}{% unless forloop.last %}, {% endunless -%}{% endfor %}
  {%- endcapture -%}
{%- else -%}
  {%- capture page_keywords -%}
    {% for key in site.keywords %}{{ key }}{% unless forloop.last %}, {% endunless -%}{% endfor %}
  {%- endcapture -%}
{%- endif -%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page_title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ page_description }}">
  <meta name="keywords" content="{{ page_keywords }}">

  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.url }}" />
  <meta property="og:image" content="{% link assets/img/og-preview.png %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="600">
  <meta name="twitter:card" content="summary">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.3/new.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts/serve/inter.css">
  <link rel="stylesheet" href="{% link assets/css/overrides.scss %}">
  <link rel="stylesheet" href="{% link assets/css/highlight.scss %}">
  <link rel="shortcut icon" href="{% link assets/img/favicon.ico %}">
</head>
