{% if page.title -%}
  {%- assign page_title = page.title -%}
{%- else -%}
  {%- assign page_title = site.title -%}
{%- endif -%}

{% if page.description -%}
  {%- assign page_description = page.description -%}
{%- else -%}
  {%- assign page_description = site.description -%}
{%- endif -%}

<header>
  <nav class="text-muted">
    {% if page.url != '/' -%}
      <a href="{% link index.md %}">Home</a>
    {% else %}
      <br />
    {% endif -%}

    {%- assign crumbs = page.url | remove:'/index.html' | split: '/' -%}

    {%- for crumb in crumbs offset: 1 -%}
      {% if forloop.last -%}
        / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
      {% else -%}
        / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
      {% endif -%}
    {%- endfor -%}
  </nav>

  <h1>{{ page_title }}</h1>
  <h2 class="h3 text-muted">{{ page_description }}</h2>
  <br />

  {% if page.date -%}
    <small class="text-muted">Posted: {{ page.date | date: "%B %-d, %Y" }}</small>
  {% endif -%}
</header>
