---
---

/*
 * Code highlighting, colors are based on the fruity pygments theme:
 * https://github.com/jwarby/jekyll-pygments-themes/blob/master/fruity.css
 */
.highlight {
    .c { color: #008800; font-style: italic } /* Comment */
    .err { color: var(--nc-tx-2) } /* Error */
    .g { color: var(--nc-tx-2) } /* Generic */
    .k { color: #fb660a; font-weight: bold } /* Keyword */
    .l { color: var(--nc-tx-2) } /* Literal */
    .n { color: var(--nc-tx-2) } /* Name */
    .o { color: var(--nc-tx-2) } /* Operator */
    .x { color: var(--nc-tx-2) } /* Other */
    .p { color: var(--nc-tx-2) } /* Punctuation */
    .cm { color: #008800; font-style: italic } /* Comment.Multiline */
    .cp { color: #ff0007; font-weight: bold; font-style: italic } /* Comment.Preproc */
    .c1 { color: #008800; font-style: italic } /* Comment.Single */
    .cs { color: #008800; font-style: italic } /* Comment.Special */
    .gd { color: var(--nc-tx-2) } /* Generic.Deleted */
    .ge { color: var(--nc-tx-2) } /* Generic.Emph */
    .gr { color: var(--nc-tx-2) } /* Generic.Error */
    .gh { color: var(--nc-tx-2); font-weight: bold } /* Generic.Heading */
    .gi { color: var(--nc-tx-2) } /* Generic.Inserted */
    .go { color: #444444 } /* Generic.Output */
    .gp { color: var(--nc-tx-2) } /* Generic.Prompt */
    .gs { color: var(--nc-tx-2) } /* Generic.Strong */
    .gu { color: var(--nc-tx-2); font-weight: bold } /* Generic.Subheading */
    .gt { color: var(--nc-tx-2) } /* Generic.Traceback */
    .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
    .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #fb660a } /* Keyword.Pseudo */
    .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
    .ld { color: var(--nc-tx-2) } /* Literal.Date */
    .m { color: #0086f7; font-weight: bold } /* Literal.Number */
    .s { color: #0086d2 } /* Literal.String */
    .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
    .nb { color: var(--nc-tx-2) } /* Name.Builtin */
    .nc { color: var(--nc-tx-2) } /* Name.Class */
    .no { color: #0086d2 } /* Name.Constant */
    .nd { color: var(--nc-tx-2) } /* Name.Decorator */
    .ni { color: var(--nc-tx-2) } /* Name.Entity */
    .ne { color: var(--nc-tx-2) } /* Name.Exception */
    .nf { color: #ff0086; font-weight: bold } /* Name.Function */
    .nl { color: var(--nc-tx-2) } /* Name.Label */
    .nn { color: var(--nc-tx-2) } /* Name.Namespace */
    .nx { color: var(--nc-tx-2) } /* Name.Other */
    .py { color: var(--nc-tx-2) } /* Name.Property */
    .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
    .nv { color: #fb660a } /* Name.Variable */
    .ow { color: var(--nc-tx-2) } /* Operator.Word */
    .w { color: #888888 } /* Text.Whitespace */
    .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
    .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
    .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
    .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
    .sb { color: #0086d2 } /* Literal.String.Backtick */
    .sc { color: #0086d2 } /* Literal.String.Char */
    .sd { color: #0086d2 } /* Literal.String.Doc */
    .s2 { color: #0086d2 } /* Literal.String.Double */
    .se { color: #0086d2 } /* Literal.String.Escape */
    .sh { color: #0086d2 } /* Literal.String.Heredoc */
    .si { color: #0086d2 } /* Literal.String.Interpol */
    .sx { color: #0086d2 } /* Literal.String.Other */
    .sr { color: #0086d2 } /* Literal.String.Regex */
    .s1 { color: #0086d2 } /* Literal.String.Single */
    .ss { color: #0086d2 } /* Literal.String.Symbol */
    .bp { color: var(--nc-tx-2) } /* Name.Builtin.Pseudo */
    .vc { color: #fb660a } /* Name.Variable.Class */
    .vg { color: #fb660a } /* Name.Variable.Global */
    .vi { color: #fb660a } /* Name.Variable.Instance */
    .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
}
