---
---

/*
 * new.css overrides
 * See: https://github.com/xz/new.css/wiki/Customizing-Themes
 */
:root {
    /* Light theme */
    --nc-tx-1: #000000;   // Heading text
    --nc-tx-2: #1A1A1A;   // Body text
    --nc-tx-m: #666666;   // Muted text
    --nc-bg-1: #FFFFFF;   // Base background
    --nc-bg-2: #F6F8FA;   // Slightly darker background
    --nc-bg-3: #E5E7EB;   // Even slightly darker background
    --nc-lk-1: #0070F3;   // Links and buttons
    --nc-lk-2: #0366D6;   // Link and buttons on hover and active
    --nc-lk-tx: #FFFFFF;  // Text for link buttons
    --nc-ac-1: #79FFE1;   // Accent for <mark> and text selection background
    --nc-ac-tx: #0C4047;  // Text when accent is used as a background

    /* Dark theme */
    --nc-d-tx-1: #ffffff;
    --nc-d-tx-2: #eeeeee;
    --nc-d-tx-m: #c1c2c3;
    --nc-d-bg-1: #000000;
    --nc-d-bg-2: #1a1a1a;
    --nc-d-bg-3: #2a2a2a;
    --nc-d-lk-1: #3291FF;
    --nc-d-lk-2: #0070F3;
    --nc-d-lk-tx: #FFFFFF;
    --nc-d-ac-1: #7928CA;
    --nc-d-ac-tx: #FFFFFF;
}

/* Applies dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --nc-tx-1: var(--nc-d-tx-1);
        --nc-tx-2: var(--nc-d-tx-2);
        --nc-tx-m: var(--nc-d-tx-m);
        --nc-bg-1: var(--nc-d-bg-1);
        --nc-bg-2: var(--nc-d-bg-2);
        --nc-bg-3: var(--nc-d-bg-3);
        --nc-lk-1: var(--nc-d-lk-1);
        --nc-lk-2: var(--nc-d-lk-2);
        --nc-lk-tx: var(--nc--dlk-tx);
        --nc-ac-1: var(--nc-d-ac-1);
        --nc-ac-tx: var(--nc--dac-tx);
    }
}

h1, h2, h3 {
    border-bottom: 2px solid var(--nc-bg-2);
    padding-bottom: .5rem;
}

hr {
    border-bottom: 2px solid var(--nc-bg-3);
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

dt {
    margin-top: .825rem;
}

img {
    display: block;
    height: auto;
}

footer {
    padding-top: 1rem;

    nav {
        display: flex;
        justify-content: space-between;
    }
}


/*
 * Custom CSS
 */
.h1 { font-size: 2.25rem }
.h2 { font-size: 1.85rem }
.h3 { font-size: 1.55rem }
.h4 { font-size: 1.25rem }
.h5 { font-size: 1rem }
.h6 { font-size: .875rem }

.nav-logo {
    max-height: 1.5rem;
    margin-bottom: 0;
}

.text-muted {
    color: var(--nc-tx-m);
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
    display: inherit;
}

.disabled {
    color: var(--nc-tx-m);
    pointer-events: none;
    cursor: not-allowed;
}

.table-responsive {
    overflow-x: auto;
    margin-bottom: 1rem;
    padding-bottom: .825rem;

    table {
        width: 100%;
        margin-bottom: 0;
        border-collapse: collapse;
        border-spacing: 0;

        td, th {
            white-space: nowrap;
        }
    }
}

.youtube-video {
    position: relative;
    width: 100%;
    height: 0;
    margin: 2rem 0;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
