---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <article>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </article>
  </body>
</html>
